# Auto-detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.rs text diff=rust
*.toml text
*.md text
*.yml text
*.yaml text
Makefile text

# Denote binary files
*.png binary
*.jpg binary
*.ico binary
*.so binary
*.dylib binary
*.dll binary
